.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
  font-size: 14px;
  color: #9A9A9A;
  font-weight: 400;
  margin-bottom: 30px;
}
@media(min-width: 768px) {
  .rating {
    margin-top: 30px;
  }
}
@media(max-width: 767px) {
  .rating {
    margin-top: 10px;
  }
}