@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #505050;
  --type-first: 'Montserrat', sans-serif;
  --type-second: 'Lora', serif;
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #505050;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}